<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test name="ClientsTests.java" parallel="classes" thread-count="3" verbose = "10">
        <classes>
            <class name="tests.ui.CreateCustomerTest"/>
            <class name="tests.ui.TestSearchCustomer"/>
            <class name="tests.ui.TestSortingCustomer"/>
        </classes>
    </test>
</suite>